:root {
  --primary-color:rgb(0,0,85);
  --secondary-color: rgb(0,0,128);
  --shadow-color:rgb(0,0,255);
  --font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;       
}
body {
  color:var(--primary-color);  
}
p {
  font-size: var(--font-size);
}
.colors {
  display: flex;
  flex-direction: column;
  align-items: center
}
.colors > button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  margin: .2rem;
  box-shadow: 2px 2px 5px black;
}
.colors .brown{
  background: brown;  
}
.colors .darkblue{
  background: #005;
}
.colors .petrol{
  background: #34435a;
}
.colors .terquaz{
  background: rgb(3, 116, 124);
}
.colors .green{
  background: #080;
}
.colors .purple{
  background: purple;
}
select {
  margin: 0 auto;
  width: 10%;
}
.fa-info-circle{
  float: right;
  margin-right: 1rem;
}
.block {
  position: relative;
  margin-left: 2rem;  
}
.block .title {
  padding-top: .5rem;
  padding-left: 4rem; 
  height: 50px;
  color: white;
  background-color:var(--primary-color);  
}
.block .title h2 {
  display:inline;
  padding: 0rem 1rem;  
  text-transform: uppercase;
}
.block .triangle {
  height: 0px;
  width: 0px;
  border-left: 60px solid transparent;
  border-top: 40px solid var(--primary-color);
  float: left;
  filter: brightness(50%);
}
.block .content {     
  padding: 3rem 0;
  padding-left: 1rem;
  width: 85%;
  float: right;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .7rem;
  grid-auto-rows: auto;
  
}
.block .content h3, .second-col .block .content h4 {
  text-transform: capitalize;
}
.block .content .prog-title {
  float: left;   
}
.block .progress {
  background: #888;
  height: 20px;
  float: right;
  width: 70%;
  margin-right: 2rem;
  overflow: hidden;
}
.block .progress span {
  background: linear-gradient(to right,rgb(228, 225, 225), var(--primary-color));
  float: left;
  color: white;
  direction: rtl;
  padding-right: 5px;
  height: 20px;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  width: 0;
}
.container{  
  width: 1170px;     
  margin: 0 auto;
  padding: 1rem;  
  display: flex;   
  background: url('https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2500') no-repeat center center/cover;
}
.first-col {
  display: flex;
  flex-direction: column;
  overflow: hidden;  
  margin:0 1rem;
  width:35%;
}
.first-col .image {
  font-size:2rem;
  text-align: center;
  padding-top:8rem;
  margin-top:1.2rem;
  align-self: center; 
  width: 70%;
  height: 20%;  
  border-radius: 50% 0px 50% 50%;
  background-image: url('../img/myphoto.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  box-shadow: 0 0 10px 5px var(--primary-color);
} 
.first-col .name{
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 10px;
  text-shadow: 2px 2px 15px var(--primary-color);
}
.first-col .name:hover{
  cursor: pointer;
  animation-name: motion;
  animation-duration: 2s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}

.first-col .info {
  margin: 2rem 0;
}
.first-col .item {
  padding: 1rem;  
}
.first-col .item .details {
  width: 40px;
  height: 40px;
  float: left;  
  background-size: 100%;
  border-radius: 50%;
  margin-right: 20px;
  color: var(--primary-color);
}
.first-col .item h3 {
  padding-top: 5px;
  text-transform: capitalize;
}
.first-col .profile,.first-col .block {
  margin-top: 2rem;
  text-align: justify;
  padding: 15px;
  margin: 0;
}
.first-col .profile > div{
  border-bottom: 3px solid var(--primary-color);  
}
.first-col .profile h2, .first-col .block h2 {  
  margin-left: 1rem;
  display: inline-block;
  
  margin-bottom: .5rem;
}
.first-col .profile p{
  padding-top: 1rem;
  font-family: "merienda one";
  color:var(--primary-color);
}
.first-col .block .lang {
  border-bottom: 3px solid var(--primary-color);
}
.first-col .block .lang:hover,.second-col .skill:hover {
  cursor: pointer;  
}
.first-col .block .content {
  padding: 3rem 0;
  margin-left: 1rem 0 0 1rem;  
  width: 100%;
  grid-gap: 1.2rem; 
}
.first-col .block .lang .content .progress {  
  margin-right: 0;
}
/* .first-col .block .lang:hover .progress .t1{
  animation-name: progres-t1;    
} */
.first-col .block .lang .progress .t1:after{
  content: "100%";
}
/* .first-col .block .lang:hover .progress .t2{
  animation-name: progres-t2;
} */
.first-col .block .lang .progress .t2:after{
  content: "70%";
}
/* .first-col .block .lang:hover .progress .t3{
  animation-name: progres-t3;
} */
.first-col .block .lang .progress .t3:after{
  content: "55%";
}
.second-col {  
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow: hidden;
}
/* .second-col .skill:hover .progress .s1{
  animation-name: progres1;
} */
.second-col .skill .progress .s1:after{
  content: "45%"
}
/* .second-col .skill:hover .progress .s2{
  animation-name: progres2;
} */
.second-col .skill .progress .s2:after{
  content: "20%"
}
/* .second-col .skill:hover .progress .s3{
  animation-name: progres3;
} */
.second-col .skill .progress .s3:after{
  content: "65%"
}
/* .second-col .skill:hover .progress .s4{
  animation-name: progres4;
} */
.second-col .skill .progress .s4:after{
  content: "55%"
}
/* .second-col .skill:hover .progress .s5{
  animation-name: progres5;
} */
.second-col .skill .progress .s5:after{
  content: "40%"
}

/* Start Cursussen Section */
.second-col .block ul {
  list-style: none;  
  line-height: 1.5;
}
.second-col .block ul li {
  padding-bottom: .5rem;
}
.second-col .block ul li i { 
  color: var(--primary-color);
}
.second-col .block ul li span { 
  font-size: 20px;
  font-weight: bold;
}
/* End Cursussen Section */
/* Animation Code */

@keyframes progress1 {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes progress2 {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes progress3 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress4 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes progress5 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes progress-t1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;        
  }
}
@keyframes progress-t2 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-t3 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes motion {
  0%{ color:var(--primary-color)}
  100%{color: red}
}